project:
  type: website
  output-dir: _output
  preview:
    port: 4600
    browser: true

website:
  title: "Building Reproducible and Interactive Analytics Courses"
  navbar:
    left:
      - href: index.qmd
        text: "Overview"
      - href: intro.qmd
        text: "Building a Quarto Microsite Structure"
      - href: chapters/01_version_control.qmd
        menu:
          - text: "Version Control"
            href: chapters/01_version_control.qmd
          - text: "Tool Setup"
            href: chapters/02-01_quarto_tool_setup.qmd
        text: "Designing an Online Course"
      - href: summary.qmd
      - href: references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - ./template/scss/book.scss
  pdf:
    documentclass: scrreprt
    include-in-header: template/tex/preamble.tex
    include-before-body: template/tex/frontpage.tex
  epub:
    cover-image: template/img/iStock-162426493.jpg



