project:
  type: book

book:
  title: "Designing a Course With Quarto"
  author: "Norah Jones"
  date: "12/9/2025"
  chapters:
    - href: index.qmd
      text: "Introduction"
    - href: 01_tool_setup.qmd
      text: "Tool Setup"
    - href: 02_version_control.qmd
      text: "Version Control"
    - href: 03_quarto_class_setup.qmd
      text: "Quarto Class Setup"
    - href: 04_blackboard_ultra.qmd
      text: "Blackboard Ultra"
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
    - cosmo
    - ./theme/book.scss
  pdf:
    documentclass: scrreprt



