project:
  type: book
  preview:
    port: 4400
    browser: true

book:
  title: "Designing a Course With Quarto"
  author: "Norah Jones"
  date: "12/9/2025"
  chapters:
    - href: index.qmd
      text: "Introduction"
    - href: 01_tool_setup.qmd
      text: "Tool Setup"
    - href: 02_version_control.qmd
      text: "Version Control"
    - href: 03_working_with_quarto.qmd
      text: "Working with Quarto"
    - href: 04_creating_excel.qmd
      text: "Creating Excel Files"
    - href: 05_quarto_class_setup.qmd
      text: "Quarto Class Setup"
    - href: 07_blackboard_ultra.qmd
      text: "Blackboard Ultra"
    - href: 09_automating_with_AI.qmd
      text: "Automating with AI"
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
    - cosmo
    - ./theme/book.scss
    code-overflow: wrap
    embed-resources: true
    fontawesome: true

execute:
  freeze: false
  cache: false

